@import "tailwindcss";

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.social-icon {
  @apply w-10 h-10 bg-gray-900 rounded-lg flex items-center justify-center
         hover:bg-yellow-400 hover:text-black transition-all duration-200;
}

.footer-link {
  @apply text-gray-400 hover:text-yellow-400 transition-colors;
}
